<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Product_CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProdServlet</display-name>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>com.demo.servlet.AddProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/AddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProdServlet</display-name>
    <servlet-name>UpdateProdServlet</servlet-name>
    <servlet-class>com.demo.servlet.UpdateProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProdServlet</servlet-name>
    <url-pattern>/UpdateProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteservlet</display-name>
    <servlet-name>Deleteservlet</servlet-name>
    <servlet-class>com.demo.servlet.Deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteservlet</servlet-name>
    <url-pattern>/Deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displayservlet</display-name>
    <servlet-name>Displayservlet</servlet-name>
    <servlet-class>com.demo.servlet.Displayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displayservlet</servlet-name>
    <url-pattern>/Displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.demo.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>